* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex; 
    flex-direction: column;
    align-items: center;
}
section {width: fit-content;}

.wrapper {
    width: 650px;
    margin: 30px auto;
}
main, .day-list {width: 100%;}
main {
    display: flex;
    flex-direction: column;
}
button {
    cursor: pointer;
    padding: 0 10px;
}
.doneBtn {cursor: pointer;}


/* Sort */
#sort {
    display: flex;
    flex-direction: row;
    align-items: center;
}
[for="sortDeadline"], [for="sortCreationDay"] {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin-right: 30px;
}
#sortDeadline, #sortCreationDay {margin-top:5px;}


/* Add New Form */
#addTaskForm h3 {margin:0 0 10px; width: fit-content;}
#addTaskForm {
    border: 3px solid purple; 
    width: 100%;
    padding: 20px;
}
#addTask {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#addTask label {margin: 10px 0; width: min-content;}
#addTaskBtn {margin-top: 10px; width: 100%; padding: 5px 0;}

.clearAllBtn-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
#clearAllBtn {padding: 10px 20px;}

/* List */
.day-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#tasksList, .day, .task-cards, .task-card {width: 100%;}
.day h3 {margin-bottom: 15px;}
.day:not(:first-child) h3 {margin-top: 30px;}
#tasksList {margin-top: 30px;}
.done {opacity: 0.2 !important;}


.task-card {
    border: 1px solid black;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}
.task-card:not(:first-child) {margin-top: 10px;}
.task-controls {display:flex;}
.task-card__container {
    border-left: 1px solid black;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.task-dates {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.task-dates, .task-name, .task-description {
    padding: 5px 15px;
}
.task-name {
    text-align: center;
    font-size: 18px;
    text-decoration: overline;
}

.doneBtn {margin: auto 10px;}
.editBtn, .delBtn {
    border:none;
    border-left: 1px solid black;
    width: 3em;
}