
#displaySortArea {
    width: min(100%, 700px);
    display: flex;
    flex-direction: column;
}
#showArea {
    border: 1px solid lightgray;
    background: lightcyan;
    box-sizing: content-box;
    height: 250px;
    padding: 8px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: flex-end;
}

/* заготовка под поле */
.number {
    height: 100%;
    padding-top: 8px;
    font-size: clamp(.5em, 2vw, 1em);
    text-align: center;
    background-color: rgb(138 43 226 / 80%);
    color: white;
}
.number:not(:first-child) {margin-left: min(8px, 1%);}

.number-selected {
    background-color: rgb(43, 43, 43) !important;
}
.number-placed {
    background-color: #420679cc !important;
}

/* Controls */
#controls, #onRun {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
button {
    height: 2.7em;
    padding: 0 20px;
    width: 100%;
}
#onRun button {width: 50%;}
#onRun button:first-child {margin-right: 2px;}
#onRun button:last-child {margin-left: 2px;}
.hide {display: none !important;}