* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    opacity: 100%;
}
body {
    display: flex;
    justify-content: center;
}
.wrapper {
    display: flex;
    flex-direction: column;
}
header {
    margin: 30px 0;
    text-align: center;
}
main {
    display: grid;
    grid-template-columns: 110px 250px 100px;
    column-gap: 20px;
    width: fit-content;
}
main>section {
    display: flex;
    flex-direction: column;
}
.hide {opacity: 0 !important;}


#additInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}
#additInfo>section {
    display: grid;
    grid-template-rows: 1em auto;
    row-gap: 5px;
}
#numAttempt {
    font-size: 32px;
    font-weight: bolder;
}
#parity strong {
    font-size: 15px;
    text-transform:uppercase;
}
#parity {
    border: 1px solid black;
    padding: 10px;
}


#answer {
    text-align: center;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
}


#mainArea label {
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: 5px;
}
#startGame {padding: 5px;}
#range label:last-child {margin-top:10px;}
#range label {
    display: grid;
    grid-template-columns: 2em calc(100% - 2em);
}