* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex; 
    flex-direction: column;
    align-items: center;
}
section {width: fit-content;}

header {
    display: flex; 
    justify-content: space-between; 
    margin-bottom: 30px;
}
.wrapper {
    width: 650px;
}
main, header, .day-list {width: 100%;}
main {
    display: flex;
    flex-direction: column;
}
button {
    cursor: pointer;
    padding: 0 10px;
}


/* Graphic */
:root {
    --gap: 15px;
}
#graphWrapper {
    width: 100%;
    height: calc(1em + var(--gap) + 250px);
    padding: 15px 30px;
    margin-bottom: 50px;
    background-color: antiquewhite;
    display: grid;
    grid-template-rows: 1em 250px;
    row-gap: var(--gap);
    text-align: center;
}
#graphic {
    display: grid;
    align-items: end;
    grid-template-columns: repeat(7, calc( (100% - 6*var(--gap)) / 7 ));
    column-gap: var(--gap);
    width: -webkit-fill-available;
}
.col {
    display: grid;
    align-items: end;
    grid-template-rows: auto 1em;
    row-gap: 15px;
    height: 100%;
}
.col__sum {
    background-color: blueviolet;
    color: white;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    min-height: 2em;

    width: 100%;
    height: 100%;
}

/* Sort */
#sort {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 30px;
}
[for="sortType"] {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin-right: 15px;
}
#sortType {margin-top:5px;}

/* DayGoal */
.daygoal-card {
    display: flex;
    flex-direction: column;
    border: 3px solid violet;
    padding: 10px;
}
.daygoal-info {
    display: flex;
    flex-direction: row;
}
#editDayGoal {
    background: none;
    border: none;
    padding: 0;
    margin-left: 10px;
}

/* Add New Form */
#addProdForm h3 {margin:0 0 10px; width: fit-content;}
#addProdForm {
    border: 3px solid purple; 
    width: 100%;
    padding: 20px;
}
#addProd {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#addProd label {margin: 10px 0}
#addProd label:first-child {margin-right: 15px;}
#addProdBtn {margin-top: 10px; width: 100%; padding: 5px 0;}

.clearAllBtn-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
#clearAllBtn {
    margin-top: 20px;
    padding: 10px 20px;
}

/* List */
.day-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#productsList, .day, .product-cards, .product-card {width: 100%;}
.day h3 {margin-bottom: 15px;}
.day:not(:first-child) h3 {margin-top: 30px;}
#productsList {margin-top: 30px;}

.product-card {
    border: 1px solid black;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}
.product-card {margin-top: 10px;}
.product-card span {padding: 10px 15px;}
.product-card__container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.product-calorie {
    width: 20%;
    border-left: 1px solid black;
    padding-left: 10px;
}
.delBtn {
    border:none;
    border-left: 1px solid black;
    width: 3em;
    height: -webkit-fill-available;
}